//========================================
//=========== DEFAULT ELEMENTS ===========
//========================================
@import './variables';

button {
    width: calc(3 * #{$elementHeight});
    height: $elementHeight;
    margin: calc(#{$margin} / 4);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: red;
    border: none;
    border-radius: $borderRadius;
    cursor: pointer;

    &.icon {
        width: $elementHeight;
        height: $elementHeight;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.2em;
    }
}

// Icon
i {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
}

input {
    height: $elementHeight;
    padding: $padding;
    
    border-radius: $borderRadius;
    border: none;
}