//========================================
//=========== DEFAULT ELEMENTS ===========
//========================================
@import './variables';

button {
    // width: calc(3 * #{$elementHeight});
    height: $elementHeight;
    margin: calc(#{$margin} / 4);
    padding: calc(#{$padding} * 2);

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid ;
    border-radius: $borderRadius;
    cursor: pointer;

    &.icon {
        width: $elementHeight;
        height: $elementHeight;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.2em;
    }

    *:nth-child(2) {
        margin-left: calc(#{$margin} / 4);
    }

    :active {
        border-width: 1px;
    }
}

// Icon
i {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
}

input {
    height: $elementHeight;
    padding: $padding;
    
    border-radius: $borderRadius;
    border: none;
}