// Variables
$borderRadius: 6px;
$fontSize: 16px;
$margin: 4px;
$padding: 8px;
$elementHeight: calc(#{$fontSize} * 2);

// Common
* {
    box-sizing: border-box;
}
body {
    font-family: 'Calibri', sans-serif;
    font-size: $fontSize;
    font-weight: 400;
}

i {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
}

button {
    width: calc(#{$elementHeight} * 3);
    height: $elementHeight;
    background-color: red;
    border: none;
    border-radius: $borderRadius;
    margin: $margin;
    cursor: pointer;

    &.icon {
        width: $elementHeight;
        height: $elementHeight;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// General structure
.fullscreen-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 64px 1fr 24px; 
}

// Header
header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    padding: 0 $padding;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: purple;
    color: white;

    .header__buttons-wrapper {
        width: auto;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
}

.icons-wrapper--horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

// Conversation
main {
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    display: flex;
    flex-direction: column;
    justify-content: stretch;

    background-color: skyblue;

    & > .conversation-wrapper {
        height: 100%;
        padding: calc(#{$padding} * 2);
        
        background-color: rgb(13, 61, 80);

        & > .message-wrapper {
            display: flex;
            width: 100%;
            margin: calc(#{$margin} * 2);

            &:hover {
                & > .message {
                    margin: 0 50px;
                }
            }

            .message {
                max-width: 200px;
                padding: $padding calc(#{$padding} * 2);
                border-radius: $borderRadius;

                transition: 300ms;
            }
            
            &--mine {
                justify-content: flex-end;
                color: white;

                & > .message {
                    background-color: red;
                }
            }

            &--others {
                justify-content: flex-start;
                color: white;

                & > .message {
                    background-color: skyblue;
                }
            }
        }
    }

    .message-input-wrapper {
        background-color: rgb(0, 168, 235);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// Side panel - users lists
aside.users-list {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    
    background-color: rosybrown;
}

// Footer
footer {
    grid-row: 3 / 4;
    grid-column: 1 / 3;

    background-color: teal;
    text-align: center;
}