//===============================================
//================== Variables ==================
//===============================================
$borderRadius: 6px;
$fontSize: 16px;
$margin: 4px;
$padding: 8px;
$elementHeight: calc(2 * #{$fontSize});